body{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
nav{
  position: fixed;
  height: 10%;
  margin-bottom: 0;
}
footer{
  background-color: black;
  color: white;
  height: 5%;
}
.btn{
  margin: 2%;
  width: 45%;
}
.linkIcon{
  color: black;
}
.parallax{
  background-image: url("../img/seattle.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  width: 100%;
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
        margin-top: 20px;
    }
}
.parallaxWordsBox{
  margin-left: 10%;
  padding-top: 20%;
}
.parallaxWords{
  color: white;
  font-family: 'Marcellus', serif;
  font-size: 50px;
  text-shadow: 3px 2px black;
}
.projects{
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: 2%;
  height: 620px;
  font-size: 18px;
}
.buffer{
  height: 60px;
}
.resume{
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
#contactForm{
  background-color: lightBlue;
}

